<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/__head') %>
  </head>

  <body class="">
    <!-- Header / Navbar -->
    <header class="navbar-space"><%- include('partials/__header') %></header>

    <div
      class="fb-box-shadow rounded-corners p-2 p-sm-4 text-center text-md-start"
    >
      <h1>Add Job</h1>
      <form action="/job" method="POST" class="mt-4">
        <!-- Company Name -->
        <div class="form-group">
          <label for="company">Company</label>
          <select
            class="form-control"
            id="company"
            name="company"
            onchange="showNewCompanyFields(this.value)"
          >
            <option value="">Select company</option>
            <% companies.forEach(function(company) { %>
            <option value="<%= company._id %>">
              <%= company.companyName %>
            </option>
            <% }) %>
            <option value="newCompany">Add company</option>
          </select>
        </div>

        <!-- New Company Fields (Initially hidden) -->
        <div id="newCompanyFields" style="display: none">
          <div class="form-group">
            <label for="companyName">Company Name</label>
            <input
              type="text"
              class="form-control"
              id="companyName"
              name="newCompany[companyName]"
            />
          </div>
          <div class="form-group">
            <label for="url">Company Website</label>
            <input
              type="text"
              class="form-control"
              id="url"
              name="newCompany[url]"
            />
          </div>
          <!-- Additional fields for the new company (e.g., location, industry, etc.) can be added here -->
        </div>

        <!-- Contact Name -->
        <div class="form-group">
          <label for="contact">Contact</label>
          <select
            class="form-control"
            id="contact"
            name="contact"
            onchange="showNewContactFields(this.value)"
          >
            <option value="">Select contact</option>
            <% contacts.forEach(function(contact) { %>
            <option value="<%= contact._id %>">
              <%= contact.contactName %>
            </option>
            <% }) %>
            <option value="newContact">Create new contact</option>
          </select>
        </div>

        <!-- New Contact Fields (Initially hidden) -->
        <div id="newContactFields" style="display: none">
          <div class="form-group">
            <label for="contactName">Contact Name</label>
            <input
              type="text"
              class="form-control"
              id="contactName"
              name="newContact[contactName]"
            />
          </div>
          <!-- Additional fields for the new contact (e.g., company, position, email, etc.) can be added here -->
        </div>
        <!-- Job Title -->
        <div class="form-group">
          <label for="jobTitle">Job Title</label>
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            name="jobTitle"
            required
          />
        </div>

        <!-- Job URL -->
        <div class="form-group">
          <label for="jobURL">Job URL</label>
          <input type="text" class="form-control" id="jobURL" name="jobURL" />
        </div>

        <!-- Job Description -->
        <div class="form-group">
          <label for="jobDescription">Job Description</label>
          <textarea
            class="form-control"
            id="jobDescription"
            name="jobDescription"
            rows="3"
          ></textarea>
        </div>

        <!-- Application -->
        <div class="form-group">
          <label>Job Location</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="jobLocation"
              id="remote"
              value="remote"
            />
            <label class="form-check-label" for="remote"> Remote </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="jobLocation"
              id="hybrid"
              value="hybrid"
            />
            <label class="form-check-label" for="hybrid"> Hybrid </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="jobLocation"
              id="inPerson"
              value="inPerson"
            />
            <label class="form-check-label" for="inPerson"> In Person </label>
          </div>
        </div>

        <!-- Notes  -->
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea
            class="form-control"
            id="notes"
            name="notes"
            rows="3"
          ></textarea>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <hr />

    <!-- Footer -->
    <%- include('partials/__footer') %>

    <!-- <script src="js/main.js"></script> -->
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <!-- Script to show/hide new company fields -->
    <script>
      function showNewCompanyFields(value) {
        const newCompanyFields = document.getElementById("newCompanyFields");
        if (value === "newCompany") {
          newCompanyFields.style.display = "block";
        } else {
          newCompanyFields.style.display = "none";
        }
      }
    </script>
    <!-- Script to show/hide new contact fields -->
    <script>
      function showNewContactFields(value) {
        const newContactFields = document.getElementById("newContactFields");
        if (value === "newContact") {
          newContactFields.style.display = "block";
        } else {
          newContactFields.style.display = "none";
        }
      }
    </script>
  </body>
</html>
